*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
}
header{
    background-image: url('../img/bannerImage.jpg');
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
.fa-solid{
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}
#toggleIconOff{
    display: none;
}
ul {
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
}
#farLeftNavigation > ul{
    display: flex;
}
.navigation > ul > li{
    margin-right: 30px;
}
#farRightNavigation > ul{
    display: flex;
}
#logoImage{
    margin-left: 10px;
}
nav{
    display: flex;
    justify-content: space-around;
    margin-top: 30x;
    padding-top: 10px;
}
.wordSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh
}
.wordSection > h1{
    font-size: 3rem;
    color: #fff;
    font-family: 'Fruktur', cursive;
}
.wordSection > p{
    color: #fff;
    font-weight: 400;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.7rem;
    margin-top: 50px;
}
#learnMoreBtn{
    background: transparent;
    border: 2px solid white;
    padding: 18px 24px;
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: .2em;
    vertical-align: center;
    margin-top: 70px;
}