*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
}
.fa-solid{
    font-size: 30px;
    cursor: pointer;
}
#toggleIconOff{
    display: none;
}
ul {
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #000000;
}
#farLeftNavigation > ul{
    display: flex;
}
.navigation > ul > li{
    margin-right: 30px;
}
#farRightNavigation > ul{
    display: flex;
}
#logoImage{
    margin-left: 10px;
}
nav{
    display: flex;
    justify-content: space-around;
    margin-top: 30x;
    margin-top: 10px;
}